@import 'reset';

.container{
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
}

.bold{
    font-family: PoppinsBold;
}
.regular{
    font-family: PoppinsRegular;
}

.text{
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 75%;
    margin-bottom: 66px;
    &::before{
        content: url(../img/plus.png);
        display: block;
        position: absolute;
        top: 20px;
        right: 394px;  
        width: 50px;
        height: 50px;      
    }
    &::after{
        content: url(../img/trik.png);
        display: block;
        position: absolute;
        top: 155px;
        left: 240px;     
        width: 50px;
        height: 50px;   
    }
}
.sub_title{
    font-size: 12px;
    letter-spacing: 3.5px;
    line-height: 16px;
    margin-bottom: 15px;
}
.title{
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 60px;
}

.slick-next{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: -30px;
    &::before {
        content: '';
        display:block;
        position: absolute;
        top: 15px;
        left: 10px;
        width: 18px;
        height: 18px;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        transform: rotate(225deg);
        transition: all .2s ease;        
    }
    &:hover{
        background-color: #000;
        transition: all .2s ease; 
        &::before{
            border-color: #fff;
        }
    }
}
.slick-prev{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: -48px;
    &::before{
        content: '';
        display:block;
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        transform: rotate(45deg);
        transition: all .2s ease;
    }
    &:hover{
        background-color: #000;
        transition: all .2s ease; 
        &::before{
            border-color: #fff;
        }
    }
}

.slick-slide{
    padding: 0 10px;
}
img{
    width: 280px;
}
.with{
    position: relative;
    .txt{
        position: absolute;
        padding: 10px;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        color: #fff;
        .big{
            letter-spacing: 3px;
            font-size: 20px;
        }
        .small{
            font-size: 12px;
            letter-spacing: 2px;
        }
    }
}