
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
