@import 'reset';
body{
    font-family: 'LatoR';
    background-color: #fff;
    color: #fff;
    font-size: 15px;
}
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
/*Header*/
.header{
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 148px 0 47px 0;
    &__logo{
        margin: 0 auto;
    }
    &__title{
        font-family: LatoB;
        font-size: 54px;
        text-transform: uppercase;
        letter-spacing: 8px;
        margin: 0 auto 30px auto;
    }
    &__mouse{
        position: relative;
    }
    &__sub_title{
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 30px;
        margin-bottom: 240px;
    }
    & .container{
        width: 67%;
        max-width: 602px;
        padding-top: 135px;
    }
    &__logo{
        margin-left: 82px;
    }
}
.circle{
    position: absolute;
    left: 50%;
    width: 21px;
    height: 34px;
    border-radius: 35%;
    border: 1px solid #fff;
}
.point{
    position: absolute;
    top: 8px;
    left: calc(50% + 10px);
    width: 1px;
    height: 1px;
    border: 1px solid #fff;
    border-radius: 50%;
}
/*---------------------------------------------------------*/
.about_us, .what_we_do, .contact_us{
    background-color: #fff;
    color: #3c3c3c;
    font-family: LatoL;
    margin-bottom: 70px;
    margin-top: 138px;
}
.what_we_do{
    & svg{
        width: 82px;
        margin-top: 20px;
    }
    & h2{
        font-family: LatoB;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 3px;
        margin-bottom: 26px;
    }
    & .container_light__sub_title__text{
        line-height: 25px;
        margin-bottom: 42px;
    }
}
/*---------------------------------------*/
.services{
    background-image: url(../img/services.jpg);
    color: #fff;
    font-family: LatoL;
    padding-bottom: 70px;
    padding-top: 138px;
    & .container_photo__title{
        text-align: center;
        font-family: LatoB;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 5px;
        z-index: 1;
        position: relative;
        top: 19px;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 26%;
            height: 2px;
            background-color: #fff;
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 26%;
            height: 2px;
            background-color: #fff;
        }
    }
}
/*--------------------------------------*/
.container_light__sub_title__text{
    font-family: LatoL;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 58px;
}
/*--------------------------------------*/
.container__title{
    text-align: center;
    font-family: LatoB;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 1;
    position: relative;
    top: 19px;
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 26%;
        height: 2px;
        background-color: #3c3c3c;
    }
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 26%;
        height: 2px;
        background-color: #3c3c3c;
    }
}
.container__sub_title{
    font-size: 16px;
    margin: 0 auto 30px auto;
    line-height: 24px;
}
.cont{
    text-align: center;
    padding: 72px 172px;
    border-left: 2px solid #3c3c3c;
    border-bottom: 2px solid #3c3c3c;
    border-right: 2px solid #3c3c3c;
}
.photo_cont{
    text-align: center;
    padding: 72px 172px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

.contact_us_btn{
    font-family: LatoR;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #3c3c3c;
    padding: 20px 138px;
    transition: all .2s ease;
    transform: scale(1);
}
.contact_us_btn:hover{
    background-color: #cc5e15;
}
.photos{
    width: 100%;
    & .cont_phot{
        display: flex;
        flex-wrap: wrap;
        & .w25{
            width: 25%;
        }
        & .w50{
            width: 50%;
        }
    }
}
footer{
    color: #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    & svg{
        margin-right: 20px;
    }
    & a{
        color: #3c3c3c;
        transition: all .2s ease;
    }
    & a:hover{
        color: #cc5e15;
    }
}