@font-face {
    font-family: JosefinB;
    src: url('../fonts/JosefinSans-Bold.woff2') format('woff2');
    src: url('../fonts/JosefinSans-Bold.woff') format('woff');
}
@font-face {
    font-family: JosefinR;
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff2');
    src: url('../fonts/JosefinSans-Regular.woff') format('woff');
}
@font-face {
    font-family: AleoR;
    src: url('../fonts/aleo-regular-webfont.woff2') format('woff2');
    src: url('../fonts/aleo-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: JosefinT;
    src: url('../fonts/JosefinSans-Light.woff') format('woff');
}
/*@font-face {
    font-family: Pacifico;
    src: url('../font/Pacifico-Regular.woff2') format('woff2');
    src: url('../font/Pacifico-Regular.woff') format('woff');
}
*/