* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

.first_screen {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #64a9cc;
}
.first_screen__container {
  width: 90%;
  max-width: 650px;
  padding-top: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.first_screen__container h1 {
  text-transform: uppercase;
  font-family: JosefinB;
  letter-spacing: 3px;
  font-size: 48px;
  color: #fff;
  margin-bottom: 6px;
}
.first_screen__container .sub_h {
  color: #fff;
  font-family: JosefinR;
  font-size: 22px;
  letter-spacing: 5.4px;
  margin-bottom: 50px;
}
.first_screen__container .form_back {
  background-color: #fff;
  padding: 2px;
  width: 100%;
  height: 60px;
  margin-bottom: 118px;
}
.first_screen__container .form_back form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.first_screen__container .form_back form input {
  border: none;
  text-align: center;
  font-family: JosefinR;
  font-size: 26px;
  width: calc(77% - 2px);
}
.first_screen__container .form_back form input:focus {
  outline-color: #5474fd90;
}
.first_screen__container .form_back form input:focus::-webkit-input-placeholder {
  color: #fff;
}
.first_screen__container .form_back form input:focus::-moz-placeholder {
  color: #fff;
}
.first_screen__container .form_back form input:focus:-ms-input-placeholder {
  color: #fff;
}
.first_screen__container .form_back form input:focus::-ms-input-placeholder {
  color: #fff;
}
.first_screen__container .form_back form input:focus::placeholder {
  color: #fff;
}
.first_screen__container .form_back form input::-webkit-input-placeholder {
  font-family: JosefinR;
  color: #999;
  font-size: 14px;
  letter-spacing: 1.8px;
}
.first_screen__container .form_back form input::-moz-placeholder {
  font-family: JosefinR;
  color: #999;
  font-size: 14px;
  letter-spacing: 1.8px;
}
.first_screen__container .form_back form input:-ms-input-placeholder {
  font-family: JosefinR;
  color: #999;
  font-size: 14px;
  letter-spacing: 1.8px;
}
.first_screen__container .form_back form input::-ms-input-placeholder {
  font-family: JosefinR;
  color: #999;
  font-size: 14px;
  letter-spacing: 1.8px;
}
.first_screen__container .form_back form input::placeholder {
  font-family: JosefinR;
  color: #999;
  font-size: 14px;
  letter-spacing: 1.8px;
}
.first_screen__container .form_back form button {
  border: none;
  width: 23%;
  background-color: #5474fd;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: AleoR;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.first_screen__container .form_back form button:hover {
  background-color: #455ecf;
}
.first_screen__container .form_back form button p {
  margin-right: -10px;
}
.first_screen__container .form_back form button svg {
  fill: #fff;
  width: 26px;
  height: 26px;
}
.first_screen__container .scroll {
  font-family: JosefinR;
  position: relative;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 154px;
}
.first_screen__container .scroll::after {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  left: 40px;
  width: 9px;
  height: 9px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header {
  background-color: #5474fd;
  height: 80px;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header .container {
  width: 90%;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header.fixed {
  position: fixed;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: 0;
  background-color: rgba(96, 170, 200, 0.7);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  height: 60px;
  -webkit-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  z-index: 900;
}
header.fixed .logo {
  font-size: 30px;
  margin-left: 20px;
}

.logo {
  text-transform: uppercase;
  color: #fff;
  margin-left: -5px;
  font-family: JosefinB;
  letter-spacing: 1.5px;
  font-size: 24px;
}

.main_menu {
  height: 100%;
}

.menu__items {
  display: inline;
  margin: 0 16px;
}
.menu__items a {
  color: #fff;
  text-transform: uppercase;
  font-family: AleoR;
  font-size: 14px;
  letter-spacing: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu__items a:hover {
  letter-spacing: 1px;
}
.menu__items a:active {
  font-size: 12px;
}

.hamburger {
  display: none;
}

#menu_shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 10000;
}

#mobile_menu_block {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 10001;
}

.mmb_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  height: 80px;
  background-color: #5474fd;
}
.mmb_top .mmb_logo {
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  margin-left: -5px;
  font-family: JosefinB;
  letter-spacing: 1.5px;
}

.open #menu_shadow {
  display: block;
}

.open #mobile_menu_block {
  left: 0;
}

.mobile_menu {
  height: calc(100vh - 80px);
  overflow-y: scroll;
}
.mobile_menu li {
  display: block;
  border-bottom: 1px solid #5474fd;
}
.mobile_menu li a {
  color: #292b2c;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: JosefinR;
  width: 100%;
}
.mobile_menu li a:hover {
  background-color: darkblue;
  color: #fff;
}

.why_choose_us {
  background-color: #383d3e;
  background-repeat: no-repeat;
  background-size: cover;
}
.why_choose_us .container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 198px;
  padding-bottom: 152px;
}
.why_choose_us .container .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.why_choose_us .container .cont .left {
  color: #fff;
  width: 54%;
}
.why_choose_us .container .cont .left h2 {
  font-family: AleoR;
  font-size: 36px;
  margin-bottom: 60px;
}
.why_choose_us .container .cont .left .text {
  color: #e8e8e8;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: JosefinT;
  margin-bottom: 72px;
}
.why_choose_us .container .cont .left .but {
  width: 225px;
}
.why_choose_us .container .cont .right {
  width: 46%;
  margin-top: -78px;
  margin-right: 55px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.why_choose_us .container .cont .right .right_f {
  position: absolute;
  top: 0;
  left: 63px;
}
.why_choose_us .container .cont .right .right_s {
  position: absolute;
  right: -51px;
  bottom: -32px;
}

.steps {
  background-color: #333;
}
.steps .container {
  width: 90%;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 97px;
  padding-left: 196px;
  padding-bottom: 126px;
}
.steps .container .first_step {
  text-align: center;
  margin-right: 14px;
}
.steps .container .first_step .first_ico {
  fill: #5474fd;
  width: 70px;
  height: 70px;
}
.steps .container .second_step {
  text-align: center;
  margin-right: 22px;
  position: relative;
}
.steps .container .second_step .second_ico {
  fill: #ff6363;
  width: 70px;
  height: 70px;
}
.steps .container .third_step {
  text-align: center;
}
.steps .container .third_step .third_ico {
  fill: #00a2ff;
  width: 70px;
  height: 70px;
}
.steps .container .beetween_bgi {
  background-image: url(../images/Shape.png);
  background-repeat: no-repeat;
  background-position-x: center;
  width: 60%;
}
.steps .container .txt {
  color: #fff;
  font-family: AleoR;
  font-size: 36px;
  margin-left: -53px;
  width: 243%;
}
.steps .container .hoo {
  background-color: #333;
  z-index: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.steps .container .hoo:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.spain_f {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #aaa6bd;
  color: #fff;
  font-family: JosefinR;
  font-size: 20px;
}
.spain_f .container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 228px;
  padding-bottom: 122px;
}

.spain_s {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fa9676;
  color: #fff;
  font-family: JosefinR;
  font-size: 20px;
}
.spain_s .container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 228px;
  padding-bottom: 122px;
}

.what_our {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #292b2c;
  color: #fff;
}
.what_our .container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  padding-top: 114px;
  padding-bottom: 200px;
}
.what_our .container h2 {
  font-family: AleoR;
  font-size: 36px;
  margin-bottom: 93px;
}
.what_our .container .descr {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.what_our .container .descr .pic {
  position: relative;
  width: 100%;
}
.what_our .container .descr .pic::before {
  padding-top: 63.8%;
}
.what_our .container .descr .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.what_our .container .descr .info {
  padding-top: 50px;
  padding-left: 56px;
}
.what_our .container .descr .info .name {
  font-family: JosefinT;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
  text-align: start;
}
.what_our .container .descr .info .text {
  font-family: JosefinR;
  font-size: 16px;
  text-align: start;
  line-height: 26px;
  padding: 10px;
}
.what_our .container .descr .info .text .fa-quote-left {
  color: #5474fd;
  font-size: 23px;
}

footer {
  background-color: #353434;
}
footer .container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 18px;
}
footer .container .logo {
  letter-spacing: 2px;
  margin-bottom: 12px;
}
footer .container .footer__text {
  color: #fff;
  font-family: JosefinT;
  letter-spacing: 1px;
}
footer .container .icons_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
footer .container .icons_list li {
  margin: 30px 12px;
  color: #fff;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
footer .container .icons_list li:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
footer .container .icons_list li a {
  width: 40px;
  height: 40px;
}
footer .container .icons_list li a i {
  color: #fff;
  font-size: 40px;
}
footer .container .icons_list li a i:hover {
  color: #5474fd;
}

.content {
  background-color: rgba(35, 35, 35, 0.9);
  width: 50%;
  padding: 50px 27px;
}
.content .spain {
  margin-bottom: 28px;
}
.content h3 {
  text-transform: uppercase;
  font-family: JosefinT;
  margin-bottom: 22px;
}
.content .text {
  font-size: 16px;
  line-height: 24px;
  font-family: JosefinT;
  margin-bottom: 64px;
}
.content .custom_btn {
  padding: 20px 62px;
}

.custom_btn {
  font-family: AleoR;
  position: relative;
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: -o-linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
  background: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
  letter-spacing: 1.2px;
  padding: 20px 37px;
  cursor: pointer;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.custom_btn span {
  position: relative;
  z-index: 1;
}
.custom_btn:hover::after {
  opacity: 1;
}
.custom_btn::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(45deg, #496bfe 100%, #5474fd 50%);
  background: linear-gradient(45deg, #496bfe 100%, #5474fd 50%);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media screen and (max-width: 935px) {
  .main_menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .why_choose_us .container .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .why_choose_us .container .cont .left {
    width: 100%;
  }
  .why_choose_us .container .cont .right {
    width: 60%;
    margin: 0 auto 30% auto;
  }
  .why_choose_us .container .cont .right .wrap {
    position: relative;
    top: 50px;
    width: 100%;
  }
  .why_choose_us .container .cont .right .wrap::before {
    content: "";
    padding-top: 62.8%;
    display: block;
    width: 100%;
  }
  .why_choose_us .container .cont .right .wrap .right_f {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .why_choose_us .container .cont .right .wrap .right_s {
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media screen and (max-width: 800px) {
  .what_our .container .descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
  .what_our .container .descr .info {
    padding: 10px;
  }

  .content {
    width: 70%;
  }

  .why_choose_us .container .cont .right {
    width: 80%;
  }

  .steps .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
  }
  .steps .container .txt {
    margin-left: 0;
    margin-bottom: 80px;
    width: 100%;
  }

  .beetween_bgi {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .spain_s .container, .spain_f .container {
    padding: 50px 0;
  }

  .form_back p {
    display: none;
  }
}
@media screen and (max-width: 461px) {
  .content {
    width: 100%;
  }

  .but {
    width: 150px;
  }

  .custom_btn {
    font-size: 14px;
  }

  footer .container .icons_list li {
    margin: 16px 0;
  }
}
@media screen and (max-width: 400px) {
  .first_screen__container h1 {
    letter-spacing: 0;
    font-size: 34px;
  }
  .first_screen__container .sub_h {
    letter-spacing: 2px;
  }
  .first_screen__container .form_back form input {
    font-size: 16px;
  }
  .first_screen__container .form_back form input::-webkit-input-placeholder {
    letter-spacing: 0;
  }
  .first_screen__container .form_back form input::-moz-placeholder {
    letter-spacing: 0;
  }
  .first_screen__container .form_back form input:-ms-input-placeholder {
    letter-spacing: 0;
  }
  .first_screen__container .form_back form input::-ms-input-placeholder {
    letter-spacing: 0;
  }
  .first_screen__container .form_back form input::placeholder {
    letter-spacing: 0;
  }
}